.line {
    border-top: 8px solid #81d8d0;
    padding-bottom: 30px;
    margin-left: 0;
}

footer {
    padding-top: 40px;
    padding-bottom: 20px;

}

.wrapper {
    width: 100%;
    max-height: 250px;
}

.box {
    display: flex;
    margin: 0;
    padding: 0 50px;
    width: 100%;
}
.title {
    padding: 40px 50px;
    color: #939393;
}

/*----------------------block1-------------------------*/

.wrapp_block1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
}

.wrapp_block1_header {
    margin: 0;
}
.wrapp_block1_header h2{
    font-size: 2.8rem;
    line-height: 40px;
    font-weight: 400;
}

.wrapp_block1_content {
    padding-top: 20px;
}

.wrapp_block1_content p {
    line-height: 30px;
}

/*----------------------block2-------------------------*/

.wrapp_block2 {
    margin: 0;
    padding: 0;
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
}


.nav {
    padding-top: 40px;
    margin-left: 400px;
    display: flex;
    flex-direction: column;

}

.nav li {
    padding: 15px 15px;
    font-weight: 400;
    font-size: 12px;
    background-color: transparent;
    transition: 0.2s ease;

}

.nav li a {
    color: #333333;
    cursor: pointer;
}
