.wrapper {
    margin: 0;
    padding: 0;
}

.box {
    padding: 100px 0 125px;
    display: flex;
}

/*---------------------------block1------------------------------*/
.box_block1 {
    margin: 0;
    padding: 0 100px;
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    border-right: 1px solid #81d8d0;

}

/*---------------------------block2------------------------------*/

.box_block2 {
    margin: 0;
    padding: 0 100px;
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
}

.block2_header h2 {
    font-size: 2.8rem;
    line-height: 40px;
    font-weight: 400;
}

.block2_content {
    padding-top: 20px;
}

.block2_content p {
    line-height: 30px;
}

.block2_footer {
    padding-top: 20px;
    width: 100%;
}

.block2_footer a {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 19px 24px;
    cursor: pointer;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 20px;
    line-height: 1.14;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
    min-width: 200px;
    text-align: center;
    transition: all 0.2s ease-out;
}

.block2_footer a:hover {
    background-color: #81d8d0;
    color: #333333;
}

