.content {
    padding: 5px 10px;
}


/*----------------СЕТКА КВАДРАТ------------------*/
.grid_square {
    margin: 0px;
    display: grid;
    grid-auto-rows: minmax(350px, auto);
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: space-around;
    align-items: center;
}

.card_square {
    padding-top: 20px;
    margin: 0px;
    height: 100%;

}

/*----------------СЕТКА СТРОКИ------------------*/

.grid_row {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1000px));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    align-items: center;
    justify-content: space-around;
}

.card_row {
    margin: 0px;
    padding-top: 20px;


}
/*----------------------------------------content in card---------------------*/
.card_bottom {
    margin: 0;
    padding: 0;
}

.box {
    height: 100%;
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    word-wrap: break-word;
    hyphens: auto;
    transition: all .3s ease-in-out;


}


.box:hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(87, 87, 87, 0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(87, 87, 87, 0.3);
    box-shadow: 0px 0px 8px 0px rgba(87, 87, 87, 0.3);
    transform: translate3d(0px, -1px, 0px);
}

.box_top {
    margin: 0px;

}

.box_content {
    margin: 20px 5px 30px 5px;
}
.box_content p {
}


.box_bottom {
    width: 100%;
    left: 0px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;

}

/*-------------- Заполнение карточки --------------*/

.grid_title {
    font-size: 20px;
    font-weight: 400;
}

.grid_title_made {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    font-weight: 300;
    color: #939393;
}

.box_bottom_block2 {
    margin: 0;
    padding-right: 10px;
}

.box_bottom span {
    padding-left: 5px;
}

.grid_likes_not_auth svg{
    color: #333333;
}


.grid_likes svg:hover {
    color: #81d8d0;
}

.liked svg {
    color: #81d8d0;
}

.unliked svg {
    color: #333333;
}


/*--------------------------------------------array fonts null----------------------*/

.wrapper_null {
    display: flex;
    align-items: center;
    margin: 100px auto;
    width: 650px;
    height: 200px;
}

.wrapper_null p {
    font-size: 30px;
    text-transform: uppercase;
    color: #dedede;
}

.box_null {

}
.button_arrow_up_circle {
    opacity: 1;
    margin: 0;
    padding: 0;
    border-radius: 20%;
    height: 70px;
    width: 70px;
    background: #2f2f2f;
    transition: all .3s ease;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(87, 87, 87, 0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(87, 87, 87, 0.3);
    box-shadow: 0px 0px 8px 0px rgba(87, 87, 87, 0.3);
    z-index: 4;
}

.button_arrow_up_circle_hidden {
    opacity: 0;
}

.button_arrow_up_circle:hover {
    border: 1px solid #81d8d0;
    background: #ffffff;
}

.button_arrow_up {
    height: 70px;
    width: 70px;
    background: transparent;
    color: #ffffff;
}

.button_arrow_up svg{
    position: relative;
    top: 19px;
    left: 19px;
    width: 30px;
    height: 30px;
}

.button_arrow_up:hover {
    color: #81d8d0;
    top: 18px;
    left: 18px;
}

.button_arrow_up_sticky_wrapper {

    position: -webkit-sticky;
    position: sticky;
    bottom: 70px;
    left: 30px;
}
