.wrapper {
    width: 1100px;
    margin: 0 auto;
}

.sticky_wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.sticky_wrapper_effect {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(219, 219, 219, 0.68);
    -moz-box-shadow: 0px 2px 5px 0px rgba(219, 219, 219, 0.68);
    box-shadow: 0px 2px 4px 0px rgba(219, 219, 219, 0.68);
}

.control_setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    background-color: white;
}


.sort_fonts {
    padding: 5px 10px;
    margin: 0;
    line-height: 1;
    border: 0;
    border-radius: 5px;
}

.sort_fonts:after {
    background-color: #81d8d0; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.sort_fonts:hover:after,
.sort_fonts:focus:after {
    width: 100%;
}

.sort_fonts select {
    width: 160px;
    font-size: 13px;

}

.sort_fonts option {
    font-family: arial, sans-serif;
}

.sentence_font {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin: 0;
}

.sentence_font input {
    padding: 0 0 2px 10px;
    width: 250px;
    border: none;
    border-bottom: 1px solid #000000;
    caret-color: #5bb1a9;
}

.sentence_font input::placeholder {
    color: #939393;
    font-weight: 400;
    font-size: 12px;
}

.range_font {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin: 0;
}

.range {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.range::-webkit-slider-thumb:hover {
    background-color: #81d8d0;
}

.font_px {
    margin: 0;
    line-height: 1;
    border: 0;
    border-radius: 5px;
}

.font_px select {
    font-weight: 400;
    width: 60px;
    font-size: 13px;
}


.button_circle {
    border-radius: 50%;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 35px;
}

.button_circle_padding_1{
    margin: 0;
    padding: 0 5px;
}

.button_circle_padding_2{
    margin: 0;
    padding: 0 5px;
}

.imge {
    margin: 0 11px;
    background-color: white;
}

.button_circle:hover {
    background-color: #fafafa;
}

.button_circle svg {
    color: #333333;
}


.initial_base {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.sort_language {
    padding: 5px 10px;
    margin: 0;
}

.sort_language select {
    width: 130px;
    font-size: 13px;
}

.sort_language:after {
    background-color: #81d8d0; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.sort_language:hover:after,
.sort_language:focus:after {
    width: 100%;
}
