header {
    height: 50px;
    border-top: 5px solid #81d8d0;
}

.exp{
    display:flex;
    justify-content:center;
}

.wrapper {
    width: 100%;
    padding: 0 20px 0 50px;
    margin: 0;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header_top_block1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin: 0;
    height: 44px;
}

.header_top_block2 {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 0;
}

.logo p{
    margin: 0;
    padding-right: 30px;
    font-size: 25px;
}
.logo a{
    font-weight: 700;
    color: #000000;
}

.search {
    display: flex;
    -webkit-box-flex: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 10px;
    flex-basis: 50%;
}

.search button {
    padding-right: 10px;
    margin: 0;
    background-color: white;
    border: none;
    border-bottom: 1px solid #000000;

}

.search_input{
    padding-left: 10px;
    margin: 0;
    max-width: 90%;
    width: 80%;
    min-width: 100px;
    border: none;
    border-bottom: 1px solid #767676;
    caret-color: #5bb1a9;
}

.search_input input{
    padding-bottom: 1px;
}

.search input::placeholder {
    color: #939393;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
}

.nav {
    margin: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav li {
    padding: 15px;
    font-weight: 400;
    font-size: 12px;
    background-color: transparent;
    transition: 0.2s ease;

}

.nav a:after {
    background-color: #81d8d0; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.nav a:hover:after,
.nav a:focus:after {
    width: 100%;
}

.nav li a {
    color: #333333;
    cursor: pointer;
}

.nav button {
    background-color: white;
}

hr {
    border: none;
    background-color: #d9d9d9;
    height: 1px;
}

.logout {
    padding: 0 0 3px 15px;
    margin: 0;
}

.logout:after {
    background-color: #81d8d0; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.logout:hover:after,
.logout:focus:after {
    width: 100%;
}
/*-----------------------------------------------------------------------dropdown*/
.desktop_nav > li {
    height: 100%;
    width: 100%;
    list-style: none;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.desktop_nav li ul {
    position: absolute;
    top: 100%; /* the height of the main nav */
    background: #ffffff;
    border: 1px solid #d9dbdb;
    list-style: none;
    visibility: hidden;
    right: -30px;
    opacity: 0;
    -webkit-transition-property: opacity, visibility;
}

.desktop_nav ul > li {
    width: 200px;
    padding: 1em 2em;
}

.desktop_nav ul > li:hover {
    background: rgb(255, 255, 255);
    text-decoration: none;
}

/* Acts on the hovered element, and selects the ul it contains */
.desktop_nav > li:hover > ul {
    visibility: visible;
    z-index: 2;
    opacity: 1;
}

